@{
    ViewBag.Title = "Inicio";
}
<div class="jumbotron center" align="center">
    <h1 align="center" class="center">RRHH Manager AG</h1>
    <p class="lead" align="center">Sistema de Gestion de Recursos Humanos, donde puedes mantener tus datos seguros y organizados.</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mantenimiento</h2>
        <p>
            En este apartado es donde se ingresa la informacion al sistema, aqui encontrará las tablas de 
            registro.
        </p>
        <p><a class="btn btn-default" href="/Home/Mantenimientos">Gestionar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Procesos</h2>
        <p>En este apartado se encuentran las opciones que el sistema puede gestionar para usted.</p>
        <p><a class="btn btn-default" href="/Home/Procesos">Gestionar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Informes</h2>
        <p>En este apartado se crean los distintos informes del sistema.</p>
        <p><a class="btn btn-default" href="/Home/Informes">Gestionar &raquo;</a></p>
    </div>
</div>