
@{
    ViewBag.Title = "Informes";
}

<h2>Informes</h2>



<div class="row">


    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Nomina</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras consultar la nomina en el sistema en cualquier momento.</p>
                <a href="" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Departamentos</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras consultar los departamentos que se encuentren en el sistema.</p>
                <a href="/Departamentos/Consulta" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Empleados</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras consultar a cualquier empleado activo que se encuentre en el sistema.</p>
                <a href="/Empleados/Consulta" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cargos</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras consultar a todos los cargos que se encuentren en el sistema.</p>
                <a href="/Cargos/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Entrada de empleados</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras consultar las entradas de los empleados que se encuentren en el sistema.</p>
                <a href="/Empleados/ConsultaFull" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Salida de empleados</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras consultar las salidas de los empleados que se encuentren en el sistema.</p>
                <a href="/Salidas/Consulta" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Permisos</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras consultar a todos los cargos que se encuentren en el sistema.</p>
                <a href="" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>



</div>

