
@{
    ViewBag.Title = "Mantenimientos";
}

<h2>Mantenimientos</h2>


<div class="row">


    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Empleados</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras agregar, eliminar y/o editar todos los empleados del sistema.</p>
                <a href="/Empleados/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Departamentos</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras agregar, eliminar y/o editar todos los departamentos del sistema.</p>
                <a href="/Departamentos/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cargos</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras agregar, eliminar y/o editar todos los cargos del sistema.</p>
                <a href="/Cargos/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

</div>

