
@{
    ViewBag.Title = "Procesos";
}

<h2>Procesos</h2>



<div class="row">


    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Nomina</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras calcular el monto total de la nomina en el sistema en cualquier momento.</p>
                <a href="/Nominas/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vacaciones</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras gestionar todas las vacaciones de los empleados en el sistema.</p>
                <a href="/Vacaciones/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Salida de empleados</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras dar salida a cualquier empleado que se encuentre en el sistema.</p>
                <a href="/Salidas/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Permisos</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras manejar los permisos que cualquier empleado solicite.</p>
                <a href="/Permisos/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Licencias</h3>
            </div>
            <div class="panel-body">
                <p>Aqui podras administrar las licencias de los empleados.</p>
                <a href="/Licencias/Index" class="btn btn-primary btn-lg">Ir</a>
            </div>
        </div>
    </div>

</div>

